<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %}{% endblock %} </title>
        <link rel="stylesheet" href="{{ url_for('styler') }}">
        <meta name="robots" content="index, follow, archive, imageindex">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="progetto software crescere decollare business">

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
            ym(94037512, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/94037512" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </head>
    <body>
        {% if 'cookies' not in session %}
            <div class="cookies shadow">
                <div class="center" style="margin: 1.2rem">
                    <strong> Usiamo i cookie </strong>
                    <div>
                        Niente manipolazione delle elezioni tramite computer quantistici o
                        roba simile. Promesso.
                    </div>
                    <div>
                        Vogliamo solo ottimizzare le nostre vendite alle persone giuste.
                    </div>
                    <div class="blankSpace" style="height: 1rem;"></div>
                    <form method="get">
                        <button name="cookies" type="submit" value=True> Lo capisco </button>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="appBar shadow">
            <div class="center">
                <header>
                    <strong>Naomi</strong> Online Group
                </header>
            </div>
        </div>
        <div class="center">
            <div class="blankSpace" style="height:2rem;"></div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>}><strong>
                    {{ text.title('signup') }}
                </strong></a>
            {% endif %}
        </div>
        <div class="halfSize appBarHome"><a href={{ url_for('home') }} style="margin-top:0px;">
            <img src={{ url_for('elements', element='logo') }}>
        </a></div>
        <div class="blankSpace" style="height: 4.7rem;"></div>
        {% if 'lang' not in session %}
            <div class="veil"></div>
            <div class="popup container shadow standardSize">
                <div class="inputContent">
                    <div class="descriptionArea">
                        {{ text.popup('cookies') }}
                    </div>
                    <div class="descriptionArea">
                        {{ text.popup('choose_lang') }}
                    </div>
                    <form method="get">
                        <select name="lang">
                            {% for lang in text.supported_langs %}
                                <option value={{ lang }}> {{ lang }} </option>
                            {% endfor %}
                        </select>
                        <button type="submit"> {{ text.input('accept') }}</button>
                    </form>
                </div>
            </div>
        {% endif %}
        {% for error in errors %}
            <div class="error shadow standardSize">
                <div style="margin:1rem;"> {{ error }} </div>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
