{% extends "base.html" %}
{% block title %} Richiesta Registrata - Naomi Online Group {% endblock %}
{% block body %}
    <div class="mainZone">
        <div style="display:flex; flex-direction: column;">
            <div class="headline">
                La tua richiesta è stata registrata
            </div>
            <div class="subheadline">
                Ti contatteremo entro un paio di giorni al contatto che ci hai lasciato
            </div>
        </div>
    </div>
{% endblock %}