{% extends 'base.html' %}
{% block body %}
    {% if 'email' in session %}
        <div class="veil"></div>
        <div class="popup container shadow standardSize">
            <div class="inputContent">
                <div class="descriptionArea">
                    {{ text.popup('insert_code') }}
                </div>
                <form method="post">
                    <input type="text" name="code" placeholder="code">
                    <div class="passwords">
                        <input type="password" name="password" placeholder="password">
                        <input type="password" name="rep_password" placeholder="password">
                    </div>
                    <button type="submit" name="code_sub"> {{ text.input('submit') }} </button>
                    <button type="submit" name="close_sub"> {{ text.input('close') }} </button>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="container shadow standardSize">
        <div class="inputContent">
            <div class="descriptionArea">
                <h1> {{ text.title('reset_password') }} </h1>
                {{ text.description('reset_password') }}
            </div>
            <form method="post">
                <input type="email" name="email" placeholder="email" required value={{ last['email'] }}>
                <button type="submit" name="reset_password_sub"> {{ text.input('submit') }} </button>
            </form>
        </div>
    </div>
{% endblock %}